<!DOCTYPE html>
<html lang="es-AR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static "bootstrap5/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/estilos.css" %}">
  <script defer src="{% static "js/fontawesome.js" %}"></script>
  <script defer src="{% static "js/index.js" %}"></script>
  <script defer src="{% static "bootstrap5/js/bootstrap.bundle.min.js" %}"></script>
  <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}"/>
  <title>
    {% block titulo %}
    Ticketera
    {% endblock titulo %} | gapa
  </title>    
</head>

<body>

  <header class="header">
        <nav class="nav">
            <a href="{% url "index" %}" class="logo nav-link">}gapa{</a>
            <button class="nav-toggle" aria-label="Abrir menú">
                <i class="fas fa-bars"></i>
            </button>
            <ul class="nav-menu">
              {% if user.is_authenticated %}
                {% if request.user.is_staff or request.user.usuario.es_supervisor %}
                <li class="nav-menu-item">
                  <a type="button" class="btn btn-danger btn-sm" href="{% url "registro" %}">Registrar usuario</a>
                </li>
                <li class="nav-menu-item">
                  <a type="button" class="btn btn-danger btn-sm" href="{% url "registro_empresa" %}">Registrar empresa</a>
                </li>
                {% endif %}
                <li>
                  <p class="text-light">Bienvenido/a, <b>{{ user.username }}</b>.</p>
                  <a type="button" class="btn btn-outline-warning btn-sm" href="{% url 'logout' %}">Cerrar sesión</a>
                </li>
                
              {% else %}
              <li class="nav-menu-item">
                <a href="{% url "registro" %}" class="btn btn-danger">Registrarse</a>
              </li>
              {% endif %}
            </ul>
        </nav>
  </header>

  <div class="padre">
        <div class="articulo">
            {% block contenido %}
      
            {% endblock contenido %}
        </div>
    
        <div class="aside izquierdo"></div>

        <div class="aside derecho"></div>
    
    </div>
    
  <footer class="footer">
        <div id="menu-social" class="menu">
            <ul id="menu-social-items" class="menu-items">
                <li><a href="https://www.facebook.com" target=”_blank”></a></li>
                <li><a href="https://twitter.com" target=”_blank”></a></li>
                <li><a href="http://mail.google.com/mail?hl=es-419" target=”_blank”></a></li>   
                <li><a href="https://www.whatsapp.com" target=”_blank”></a></li>
                <li><a href="https://www.instagram.com" target=”_blank”></a></li>
            </ul>
        </div>
    </footer> 

</body>