{% extends "template_base.html" %}
{% block titulo %}
Bienvenido
{% endblock titulo %}
{% block contenido %}
            <div class="container">
                <div align="center" >
                    <br/>
                    <br/>
                    <br/>
                    <h1 class="articulo_titulo">BIENVENIDO/A!</h1>
                    <br/>
                    <br/>
                    <h2 class="articulo_texto">{{nombre|capfirst}}</h2>
                </div>
                <br/>
                <br/>
                <br/>
                {% if not request.user.is_staff and not request.user.usuario.es_supervisor and not request.user.usuario.es_empleado %}
                <a type="button" class="btn btn-success" href="{% url "nuevo_ticket" %}">INICIAR TICKET</a>
                {% endif %}
                <a type="button" class="btn btn-success" href="{% url "seguimiento" %}">SEGUIR TICKETS</a>
            </div>
{% endblock contenido %}