{% extends "template_base.html" %}
{% block titulo %}
Confirmación de ticket
{% endblock titulo %}
{% block contenido %}
<div class="container">
    <h1 class="articulo_titulo">Confirmacion de Ticket</h1><br/>
    <div align="left" >
    <h2 class="articulo_texto">Ticket Nº 001-01</h2><br/>
    <h2 class="articulo_texto">Empresa</h2><p class="articulo_texto">Next.SRL</p>
    <h2 class="articulo_texto">Motivo </h2><p class="articulo_texto">Software de Escritorio </p>    
    <h2 class="articulo_texto">Detalles </h2><p class="articulo_texto">Necesito instalar el Software en una nueva PC, como procedo </p>
    <h2 class="articulo_texto">Asignado a </h2><p class="articulo_texto">Javier Martinez </p>
    <h2 class="articulo_texto">Prioridad </h2><p class="articulo_texto">Normal </p>
    <h2 class="articulo_texto">Estado </h2><p class="articulo_texto">Espera </p>
    </div>
    <br/>
    <a href="{% url "nuevo_ticket" %}"><input type="button" value="Atras" ></a>
    <a href="{% url "envio_confirmado" %}"><input type="button" value="Confirmar" ></a>
</div>
{% endblock contenido %}