{% extends "template_base.html" %}
{% block titulo %}
Envío confirmado
{% endblock titulo %}
{% block contenido %}
<div class="container">
    <div align="center" >
        <br/>
        <br/>
        <br/>
        <h1 class="articulo_titulo">TICKET ENVIADO EXITOSAMENTE!</h1>
        <br/>
        <br/>
        </div>
        <br/>
        <br/>
        <br/>
        <a href="{% url "bienvenida" nombre %}"><input type="button" value="Atras" ></a>
        <a href="{% url "login" %}"><input type="button" value="Salir" ></a>
</div>
{% endblock contenido %}