{% extends "template_base.html" %}
{% block titulo %}
Inicio
{% endblock titulo %}
{% block contenido %}
{% load static %}
<div class="container">
  <div id="Slider">
    <ul class="slider">
      
      <li id="slide1">
        <div class="container">
          <img src="{% static "img/cpa-review.jpg" %}"/>
        </div>
      </li>
      
      <li id="slide2">
        <div class="container">
          <h1>Somos la solución que buscas!!!</h1>
          <img src="{% static "img/Help-Desk-Software.jpg" %}"/>
        </div>
      </li>
      
      <li id="slide3">
        <div class="container">
          <div class="txt">
            <h2><font color="blue">Bienvenido al Centro de soporte</h2></font><br>
            <p>Para agilizar las solicitudes de soporte y brindarle un mejor servicio a sus clientes, creamos un sistema que a cada solicitud le asigna un número de ticket único, que también puede usar para su seguimiento y ver las respuestas en línea.</p>
            <p>Solo se requiere una dirección de correo electrónico válida para enviar un ticket de su empresa.</p><br>
            <a href="{% url "registro" %}"><input type="button" value="Prueba Gratuita"></a>
          </div>
        </div>
      </li>

    </ul>
  </div>
  <div id="slide-menu">
    <ul class="menu">
      <li>
        <a href="#slide1">1</a>
      </li>
      <li>
        <a href="#slide2">2</a>
      </li>
      <li>
        <a href="#slide3">3</a>
      </li>
    </ul>
  </div>
</div>
{% endblock contenido %}