{% extends "template_base.html" %}
{% block titulo %}
Nuevo ticket
{% endblock titulo %}
{% block contenido %}
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for campo in formulario %}
        <div>
            <label for="">{{campo.label}}</label>
            {{campo}}
        </div>
        <div>{{campo.errors}}</div>
        {% endfor %}
        <div >
        <div >
            <input type="submit" value="Enviar">
            <a href="{% url "bienvenida" nombre %}"><input type="button" value="Atras" ></a>        
        </div>
</div>
    </form>
    </div>
    <br/>
</div>
{% endblock contenido %}