{% extends "template_base.html" %}
{% block titulo %}
Registro de Empresa
{% endblock titulo %}
{% block contenido %}
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for campo in formulario %}
        <div>
            <label for="">{{campo.label}}</label>
            {{campo}}
        </div>
        <div>{{campo.errors}}</div>
        {% endfor %}
        <div >
        <div >
            <input type="submit" value="Registrarse">     
        </div>
</div>
    </form>
</div>
{% endblock contenido %}