{% extends "template_base.html" %}
{% block titulo %}
Registro de Empresa
{% endblock titulo %}
{% block contenido %}
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for campo in formulario %}
        <div>
            <label for=""><b>{{campo.label}}</b></label>
            {{campo}}
        </div>
        <div>{{campo.errors}}</div>
        {% endfor %}
        <div >
        <div >
            <input type="submit" value="Registrar">
            <a href="{% url "index" %}"><input type="button" value="Atrás"></a>
        </div>
</div>
    </form>
</div>
{% endblock contenido %}