{% extends "template_base.html" %}
{% block titulo %}
Respuesta a ticket
{% endblock titulo %}
{% block contenido %}
<div class="container">
    <h1 class="articulo_titulo">Respuesta a Ticket</h1><br/>
    <div align="left" >
        <h2 class="articulo_texto">Ticket Nº{{ticket.id}}</h2><br/>
        <h2 class="articulo_texto">Autor</h2><p class="articulo_texto">{{ticket.usuario}}</p><br/>
        <h2 class="articulo_texto">Empresa</h2><p class="articulo_texto">{{ticket.empresa}}</p><br/>
        <h2 class="articulo_texto">Fecha de creación</h2><p class="articulo_texto">{{ticket.fecha_creacion}}</p><br/>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for campo in formulario %}
            <div>
                <label for=""><b>{{campo.label}}</b></label>
                {{campo}}
            </div>
            <div>{{campo.errors}}</div>
            {% endfor %}
            <div >
            <div >
                <input type="submit" value="Confirmar">
                <a href="{% url "seguimiento" %}"><input type="button" value="Atrás"></a>        
            </div>
    </div>
        </form>
</div>
{% endblock contenido %}