{% extends "template_base.html" %}
{% block titulo %}
Respuesta a ticket
{% endblock titulo %}
{% block contenido %}
<div class="container">
    <h1 class="articulo_titulo">Respuesta a Ticket</h1>
    <div align="left">
        <h4 style="text-decoration: underline" class="articulo_texto">Ticket Nº{{ticket.id}}</h4>
        <h4 class="articulo_texto">Autor</h4><p class="articulo_texto">{{ticket.usuario}}</p>
        <h4 class="articulo_texto">Empresa</h4><p class="articulo_texto">{{ticket.empresa}}</p>
        <h4 class="articulo_texto">Fecha de creación</h4><p class="articulo_texto">{{ticket.fecha_creacion}}</p>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for campo in formulario %}
            <div>
                <label for=""><b>{{campo.label}}</b></label>
                {{campo}}
            </div>
            <div>{{campo.errors}}</div>
            {% endfor %}
            <div style="margin-top: 5px">
                <input type="submit" class="btn btn-success" value="Confirmar">
                <a type="button" class="btn btn-secondary" href="{% url "seguimiento" %}">Atrás</a>        
            </div>
        </form>
</div>
{% endblock contenido %}