{% extends "template_base.html" %}
{% block titulo %}
Seguimiento
{% endblock titulo %}
{% block contenido %}
<div class="container">
    <h1 class="articulo_titulo">Seguimiento</h1>
    <div align="center" >
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Prioridad</th>
                    <th>Estado</th>
                    <th>Fecha de creación</th>
                    <th>Empresa</th>
                    {% if request.user.is_staff or request.user.usuario.es_supervisor or request.user.usuario.es_empleado %}
                        <th>Autor</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ticket.id}}</td>
                        <td>{{ticket.titulo}}</td>
                        <td>
                            {% if ticket.prioridad == 1%}
                            Baja
                            {% elif ticket.prioridad == 2 %}
                            Media
                            {% elif ticket.prioridad == 3 %}
                            Alta
                            {% endif %}
                        </td>
                        <td>
                            {% if ticket.estado == 1%}
                            Espera
                            {% elif ticket.estado == 2 %}
                            En curso
                            {% elif ticket.estado == 3 %}
                            Resuelto
                            {% endif %}
                        </td>
                        <td>{{ticket.fecha_creacion}}</td>
                        <td>{{ticket.empresa}}</td>
                        {% if request.user.is_staff or request.user.usuario.es_supervisor or request.user.usuario.es_empleado %}
                            <td>{{ticket.usuario}}</td>
                        {% endif %}
                        <td>
                            <a href="{% url "ver_ticket" ticket.id %}">VER</a>
                        </td>
                        <td>
                            <a href="{% url "respuesta_ticket" ticket.id %}">RESPONDER</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br/>
    <a href="{% url "index" %}"><input type="button" value="Atrás"></a>
    {% if not request.user.is_staff and not request.user.usuario.es_supervisor and not request.user.usuario.es_empleado %}
     <a href="{% url "nuevo_ticket" %}"><input type="button" value="Nuevo Ticket"></a>
    {% endif %}
</div>
{% endblock contenido %}