{% extends "template_base.html" %}
{% block titulo %}
Seguimiento
{% endblock titulo %}
{% block contenido %}
<div class="container">
    <h1 class="articulo_titulo">Seguimiento</h1>
    <div align="center" >
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Prioridad</th>
                    <th>Estado</th>
                    <th>Fecha de creación</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ticket.id}}</td>
                        <td>{{ticket.titulo}}</td>
                        <td>{{ticket.prioridad}}</td>
                        <td>{{ticket.estado}}</td>
                        <td>{{ticket.fecha_creacion}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br/>
    <a href="{% url "index" %}"><input type="button" value="Atrás"></a>
     <a href="{% url "nuevo_ticket" %}"><input type="button" value="Nuevo Ticket"></a>
</div>
{% endblock contenido %}