{% extends "template_base.html" %}
{% block titulo %}
Visualización de ticket
{% endblock titulo %}
{% block contenido %}
<div class="container">
    <h1 class="articulo_titulo">Visualización de Ticket</h1><br/>
    <div align="left" >
        <h2 class="articulo_texto">Ticket Nº{{ticket.id}}</h2><br/>
        <h2 class="articulo_texto">Empresa</h2><p class="articulo_texto">{{ticket.empresa}}</p><br/>
        <h2 class="articulo_texto">Título</h2><p class="articulo_texto">{{ticket.titulo}}</p><br/>   
        <h2 class="articulo_texto">Descripción</h2><p class="articulo_texto">{{ticket.descripcion}}</p><br/>
        <h2 class="articulo_texto">Prioridad</h2><p class="articulo_texto">
            {% if ticket.prioridad == 1%}
            Baja
            {% elif ticket.prioridad == 2 %}
            Media
            {% elif ticket.prioridad == 3 %}
            Alta
            {% endif %}
        </p><br/>
        <h2 class="articulo_texto">Estado</h2><p class="articulo_texto">
            {% if ticket.estado == 1%}
            Espera
            {% elif ticket.estado == 2 %}
            En curso
            {% elif ticket.estado == 3 %}
            Resuelto
            {% endif %}
        </p><br/>
    </div>
    <br/>
    <a href="{% url "seguimiento" %}"><input type="button" value="Atrás"></a>
</div>
{% endblock contenido %}